CMakeCache.txt
cmake_install.cmake
jeuSolitaire
CMakeFiles
CMakeFiles/*
Makefile

Testeurs/CMakeCache.txt
Testeurs/cmake_install.cmake
Testeurs/runTests
Testeurs/CMakeFiles
Testeurs/CMakeFiles/*
Testeurs/Makefile

.cprojet
.projet
*zip