CMakeCache.txt
cmake_install.cmake
jeuSolitaire
CMakeFiles
CMakeFiles/*
Makefile

Testeur/CMakeCache.txt
Testeur/cmake_install.cmake
Testeur/runTests
Testeur/CMakeFiles
Testeur/CMakeFiles/*
Testeur/Makefile